@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}

body{
    height: 100vh;
    background-image: url('https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/11-especial-amazonia-reportagem-igapo-.jpg?w=1900&h=1267');
    color: #000;

}

.tela-principal{
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    margin: auto auto;
}

section{
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 1.75rem;
    margin: 0.625rem;
}

.centro{
    text-align: center;
}

.questao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#numQuestao{
    display: block;
    background: #81c297;
    box-shadow: 2px 2px 5px 0px black;
    padding: 4px 10px 2px 10px;
    border-radius: 50%;
}

#pergunta{
    margin-left: 1rem;
}

.questoes{
    padding: 1.5rem;
    bottom: 1px solid #ececec;
    border-radius: 5px;
}

.questoes ol li{
    display: block;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.questoes ol li:hover{
    background: #4b6454;
    cursor: pointer;
}

.bloqueado{
    display: none;
}


.bloqueado li:hover{
    display: none;
}

#instrucoes{
    background: #ccc;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;
    
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    animation: piscar .75s infinite alternate;
}

#aviso{
    color: #61876E;
}

footer{
    margin-top: 2%;
    font-size: small;
}

@keyframes piscar{
    0%{
        filter: drop-shadow(0 0 15px #fff);
        -webkit-filter: drop-shadow(0 0 15px #fff);
        -moz-filter: drop-shadow(0 0 15px #fff);
        -o-filter: drop-shadow(0 0 15px #fff);
        -ms-filter: drop-shadow(0 0 15px #fff);
    }
    100%{}
}

.animar{
    animation: piscar .75s infinite alternate;
}

.aparecer{
    animation: piscar .75s infinite alternate;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}